@mixin FlexVerticalCenter
  display: flex
  align-items: center

@mixin FlexCenter
  display: flex
  justify-content: center
  align-items: center

@mixin BgCenterContain
  background-position: center
  background-repeat: no-repeat
  background-size: contain

@mixin BgCenterCover
  background-position: center
  background-repeat: no-repeat
  background-size: cover

@mixin AbsoluteCover
  position: absolute
  left: 0
  right: 0
  bottom: 0
  top: 0