//COLORS
$cPrinc: #28429E
$cSecond: #00AEEF
$cThird: #006185
$cBg: #F7F7F7
$cWhite: #FFFF
$cBlack: #000000

//COLORS VARIANTS
$cThird80: rgba(0, 97, 133, 0.8)
$cThird57: rgba(0, 97, 133, 0.57)

//SHADOW
$Shadow: rgba(0, 0, 0, 0.29)

//TRANSITIONS
$DurationTransition : .3s