@import "../../../../aquaplaisir/assets/sass/utils/mixins"
@import "../../../../aquaplaisir/assets/sass/utils/variables"


.btn-devis
  background-color: $cWhite
  border-radius: $RadiusBtn
  width: auto!important
  margin: auto
  a
    color: $cPrinc
    padding: 10px 15px
    @include FlexVerticalCenter
    &:hover
      color: $cPrinc
    &:before
      content: ''
      display: inline-block
      width: 30px
      height: 30px
      margin: 0 10px 0 0
      @include BgCenterContain
      background-image: url("../icons/icon-devis.svg")

.btn-h-apt
  border: solid 1px $cWhite
  width: auto!important
  &:hover
    background-color: $cWhite
    a
      color: $cPrinc


.btn-b-large
  border-radius: $RadiusBtn
  width: 400px!important
  box-shadow: 5px 5px 0px $ShadowBtnInfo
  background-color: $cSecond
  &:hover
    transition: $DurationTransition
    transform: translate(5px, 5px)
    box-shadow: 0px 0px 0px $ShadowBtnInfo
  a
    color: $cWhite
    text-align: center
    width: 100%
    font-size: 16px

@media (max-width: 863px)
  .btn-b-large
    margin: auto








.btn-apt
  border-radius: $RadiusBtn
  width: auto!important
  box-shadow: 10px 10px 0px $ShadowBtnDevis
  border: solid 2px $cPrinc
  background-color: $cWhite
  margin-top: 50px
  &:hover
    transition: $DurationTransition
    transform: translate(10px, 10px)
    box-shadow: 0px 0px 0px $ShadowBtnDevis
  a
    text-transform: uppercase
    line-height: $HeightBtn
    font-size: 16px
    padding: 0px 15px
    color: $cPrinc

  a:hover
    color: $cPrinc

.btn-more-info, .btn-get-devis
  border-radius: $RadiusBtn
  width: auto!important
  a
    line-height: $HeightBtn
    font-size: 16px
    padding: 0px 10px
    @include FlexVerticalCenter
    &:before
      content: ''
      width: 30px
      height: 30px
      margin-right: 10px
      @include BgCenterContain
  &:hover
    transition: $DurationTransition
    transform: translate(10px, 10px)

.btn-more-info
  background-color: $cSecond
  box-shadow: 10px 10px 0px $ShadowBtnInfo
  a:before
    background-image: url("../icons/arrow-btn-more-info.svg")
  &:hover
    box-shadow: 0px 0px 0px $ShadowBtnInfo

.btn-get-devis
  border: solid 3px $cPrinc
  box-shadow: 10px 10px 0px $ShadowBtnDevis
  a
    color: $cPrinc
    line-height: $HeightBorder
    &:before
      background-image: url("../icons/icon-devis.svg")
  &:hover
    background-color: $cPrinc!important
    color: $cWhite
    box-shadow: 0px 0px 0px $ShadowBtnDevis
  a:hover:before
    background-image: url("../icons/icon-devis-white.svg")

.btn-spas
  margin: auto


//a verifier

.btn-s-h
  width: auto!important
  margin: auto!important
  .elementor-button-wrapper
    a
      color: $cPrinc
      font-weight: bold
      background-color: $cWhite
      &:hover
        background-color: $cPrinc
        color: $cWhite

.btn-content-info
  a
    background-color: $cSecond!important
    width: 150px
    font-weight: bold!important
    line-height: 45px
    padding: 0
    margin-right: 15px
    &:hover
      transform: $DurationTransition
      opacity: .8

.btn-large
  a
    padding: 0 15px
    width: 400px

.btn-card-h
  margin: 0px auto 0 auto
  width: 150px!important
  position: absolute
  bottom: -25px
  left: 50%
  transform: translateX(-50%)
  a
    width: 150px
    background-color: $cWhite!important
    line-height: 45px
    padding: 0
    color: $cThird
    font-size: 15px
    font-weight: bold!important

    &:hover
      background-color: $cSecond!important
      color: $cWhite!important