@import "../../../../aquaplaisir/assets/sass/utils/mixins"
@import "../../../../aquaplaisir/assets/sass/utils/variables"


.button-form-princ
  width: auto!important
  margin: auto
  border: solid 1px
  border-radius: $RadiusBtn
  font-size: 16px
  .elementor-button-wrapper
    a
      font-size: 16px
      padding: 18px 35px
      font-weight: 600
  &:hover
    transition: $DurationTransition


.btn-s-h
  border-color: $cWhite
  backdrop-filter: blur(5px)
  &:hover
    border-color: $cPrinc
    background-color: $cPrinc
  .elementor-button:visited
    color: $cWhite


.btn-more-info
  border-color: $cPrinc
  margin: unset
  .elementor-button-wrapper
    a
      color: $cPrinc
  &:hover
    background-color: $cPrinc
    .elementor-button-wrapper
      a
        color: $cWhite


.btn-devis
  background-color: $cWhite
  border-radius: 50px
  .elementor-button:visited
    color: $cPrinc
  a
    color: $cPrinc
    @include FlexVerticalCenter
    &:before
      content: ''
      display: inline-block
      width: 30px
      height: 30px
      margin: 0 10px 0 0
      @include BgCenterContain
      background-image: url("../icons/icon-devis.svg")
  &:hover
    .elementor-button-wrapper
      a
        color: $cPrinc

.btn-h-apt
  background-color: $cWhite
  border-color: $cWhite
  .elementor-button-wrapper
    a
      color: $cPrinc


.btn-category
  background-color: $cPrinc
  .elementor-widget-container
    .elementor-button-wrapper
      a
        color: $cWhite
        text-align: center
        width: 100%
        padding: 30px 0px
        font-weight: 600
        font-size: 16px
        line-height: 1.5rem


  &:hover
    background-color: $cSecond
    transition: $DurationTransition

@media (max-width: 1100px)
  .btn-category
    //min-height: 120px
    .elementor-widget-container
      //height: 100%
      .elementor-button-wrapper
        //height: 100%
        a
          //padding: 20px
          //height: 100%
          .elementor-button-content-wrapper
            height: 100%
            .elementor-button-text
              display: flex
              justify-content: center
              align-items: center
              height: 100%


//--------------------------------------------------------------





.btn-b-large
  border-radius: $RadiusBtn
  width: 400px!important
  box-shadow: 5px 5px 0px $ShadowBtnInfo
  background-color: $cSecond
  &:hover
    transition: $DurationTransition
    transform: translate(5px, 5px)
    box-shadow: 0px 0px 0px $ShadowBtnInfo
  a
    color: $cWhite
    text-align: center
    width: 100%
    font-size: 16px

@media (max-width: 863px)
  .btn-b-large
    margin: auto








.btn-apt
  border-radius: $RadiusBtn
  width: auto!important
  box-shadow: 10px 10px 0px $ShadowBtnDevis
  border: solid 2px $cPrinc
  background-color: $cWhite
  margin-top: 50px
  &:hover
    transition: $DurationTransition
    transform: translate(10px, 10px)
    box-shadow: 0px 0px 0px $ShadowBtnDevis
  a
    text-transform: uppercase
    line-height: $HeightBtn
    font-size: 16px
    padding: 0px 15px
    color: $cPrinc

  a:hover
    color: $cPrinc

.btn-get-devis
  border-radius: $RadiusBtn
  width: auto!important
  a
    line-height: $HeightBtn
    font-size: 16px
    padding: 0px 10px
    @include FlexVerticalCenter
    &:before
      content: ''
      width: 30px
      height: 30px
      margin-right: 10px
      @include BgCenterContain
  &:hover
    transition: $DurationTransition
    //transform: translate(10px, 10px)

//.btn-more-info
  background-color: $cSecond
  //box-shadow: 10px 10px 0px $ShadowBtnInfo
  a:before
    background-image: url("../icons/arrow-btn-more-info.svg")
  &:hover
    //box-shadow: 0px 0px 0px $ShadowBtnInfo

.btn-get-devis
  border: solid 3px $cPrinc
  box-shadow: 10px 10px 0px $ShadowBtnDevis
  a
    color: $cPrinc
    line-height: $HeightBorder
    &:before
      background-image: url("../icons/icon-devis.svg")
  &:hover
    background-color: $cPrinc!important
    color: $cWhite
    box-shadow: 0px 0px 0px $ShadowBtnDevis
  a:hover:before
    background-image: url("../icons/icon-devis-white.svg")

.btn-spas
  margin: auto


//a verifier



.btn-content-info
  a
    background-color: $cSecond!important
    width: 150px
    font-weight: bold!important
    line-height: 45px
    padding: 0
    margin-right: 15px
    &:hover
      transform: $DurationTransition
      opacity: .8

.btn-large
  a
    padding: 0 15px
    width: 400px

.btn-card-h
  margin: 0px auto 0 auto
  width: 150px!important
  position: absolute
  bottom: -25px
  left: 50%
  transform: translateX(-50%)
  a
    width: 150px
    background-color: $cWhite!important
    line-height: 45px
    padding: 0
    color: $cThird
    font-size: 15px
    font-weight: bold!important

    &:hover
      background-color: $cSecond!important
      color: $cWhite!important