.title-content-info
  @include TitleH3
  margin-bottom: 0px!important

.title-swip
  font-weight: 600
  font-size: 50px
  color: $cPrinc

.title-swim
  color: $cPrinc!important

.title-h3-primary
  color: $cPrinc
  font-size: 45px
  h3
    line-height: 60px
    .part-bold
      font-weight: 600

.title-h3-primary-step
  color: $cWhite
  font-size: 45px
  font-weight: 600
  background-color: $cPrinc
  z-index: 99
  margin-bottom: 50px!important
  padding-left: 50px
