@import "../../../../aquaplaisir/assets/sass/utils/mixins"
@import "../../../../aquaplaisir/assets/sass/utils/variables"
html
  height: 100%


*
  font-family: Montserrat
  padding: 0
  margin: 0
  text-decoration: none
  list-style: none
  box-sizing: border-box

body
  background-color: $cBg
  height: 100%

.with-sidebar
  .site-container
    overflow: hidden
    .site-pusher
      transition: $DurationTransition
      transform: translateX(-400px)
      .site-cache
        cursor: pointer
        @include AbsoluteCover
        background-color: rgba(75, 75, 75, 0.9)
        z-index: 999

.site-container
  height: 100%
  .site-pusher
    height: 100%
    .site-content
      overflow-y: scroll
      scrollbar-width: none
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0

.site-container
  .site-pusher
    transition: $DurationTransition

.p
  letter-spacing: 0.5px
  line-height: 35px
  font-size: 18px

.p-bold
  font-weight: 600

.p-b-italic
  font-weight: 600
  font-style: italic

.p-b-primary-bolder
  font-weight: 600
  color: $cPrinc

.site-content
  padding-top: 150px
  position: relative

