@import "../../../../aquaplaisir/assets/sass/utils/mixins"
@import "../../../../aquaplaisir/assets/sass/utils/variables"

.section-lightbox
  background-color: rgba(133,133,133,0.71) //provisoire
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  z-index: 99
  .col-lightbox
    background-color: $cWhite
    z-index: 100
    max-height: 90vh
    position: absolute
    top: 50vh
    transform: translateY(-50%)
    .elementor-widget-wrap
      overflow: auto
      .container-img-zoom

        .img-zoom

.section-lightbox-disabled
  display: none

.section-gallery
  height: 500px
  background-color: $cGray2
  .elementor-container
    max-width: 90vw!important
    height: 100%
    .col-gallery
      .elementor-widget-wrap
        padding: 5px
        .img-gallery
          height: 100%
          .elementor-widget-container
            height: 100%
            overflow: hidden
            .hover-scale
              transition: $DurationTransition
              transform: scale(1.05)
            img
              height: 100%
              object-fit: cover
              transition: $DurationTransition
        .img-hover
          &:before
            content: ""
            transition-duration: 2s
            z-index: 9
            backdrop-filter: blur(3px)
            background-color: $cBgGalleryHover
            background-image: url("../icons/maximize.svg")
            background-repeat: no-repeat
            background-position: center
            @include AbsoluteCover
            cursor: pointer





.section-top-gallery
  .col-gallery:first-of-type
    //height: 80%
  .col-gallery:nth-of-type(2)
    //height: 120%
  .col-gallery:nth-of-type(3)
    //height: 80%

.section-md-gallery
  .col-gallery:first-of-type
    //height: 140%
    //transform: translateY(-14%)
  .col-gallery:nth-of-type(2)
    //height: 120%
    //transform: translateY(25%)
  .col-gallery:nth-of-type(3)
    //height: 140%
    //transform: translateY(-14%)


.section-bottom-gallery
  padding-bottom: 100px
  .col-gallery:first-of-type
    //height: 80%
    //transform: translateY(25%)
  .col-gallery:nth-of-type(2)
    //height: 100%
  .col-gallery:nth-of-type(3)
    //height: 80%
    //transform: translateY(25%)

