@import "../../../../aquaplaisir/assets/sass/utils/mixins"
@import "../../../../aquaplaisir/assets/sass/utils/variables"

.section-header
  max-height: $HeightHeader
  .elementor-container
    width: 100%!important
    max-width: unset!important
    max-height: $HeightHeader
    .col-header
      max-height: $HeightHeader
      .elementor-widget-wrap
        padding: 0px
        max-height: $HeightHeader
        .video-h
          max-height: $HeightHeader
          margin-bottom: 0px
          .elementor-widget-container
            display: flex
            max-height: $HeightHeader
            .e-hosted-video
              width: 100%
        .inner-s-h
          @include AbsoluteCenter
          width: 80%
          .inner-col-s-h
            .title-s-h
              color: $cWhite
              font-size: 45px
              font-weight: 600
              text-align: center
              margin-bottom: 30px


@media (max-width: 1200px)
  .section-header
    .elementor-container
      .col-header
        .elementor-widget-wrap
          .inner-s-h
            .inner-col-s-h
              .title-s-h
                font-size: 30px


@media (max-width: 768px)
  .section-header
    .elementor-container
      .col-header
        .elementor-widget-wrap
          .inner-s-h
            position: relative
            top: unset
            left: unset
            transform: unset
            width: 100%
            background-color: $cPrinc
            padding: 30px
            .inner-col-s-h
              .title-s-h
                font-size: 25px

@media (max-width: 620px)
  .section-header
    .elementor-container
      .col-header
        .elementor-widget-wrap
          .inner-s-h
            .inner-col-s-h
              .title-s-h
                font-size: 20px

//.section-header
  @include BgCenterCover
  background-position: bottom
  height: 80vh
  min-height: 700px
  overflow: hidden
  .elementor-container
    max-height: 100%
    max-width: 100%!important
    .col-header
      .elementor-widget-wrap
        padding: 0px
        position: relative
        .img-header
          height: 100%
          .elementor-widget-container
            overflow: hidden
            height: 100%
            img
              width: 100%
              object-fit: cover
              height: 100%
              position: relative
              z-index: -1
              animation: animateBg 20s  infinite
            @keyframes animateBg
              0%
                transform: scale(1.1)
              50%
                transform: scale(1)
              100%
                transform: scale(1.1)
        .section-inner-content
          position: absolute
          background-color: $cThird80
          width: 50%
          max-width: 1200px
          padding: 30px
          border-radius: 52px
          @include AbsoluteCenter
          .title-header
            font-weight: bold
            color: $cWhite
            font-size: 35px
          .txt-header
            font-size: 20px
            font-weight: 400
            color: $cWhite
        .btn-rdv-header
          position: absolute
          bottom: 20%
          left: 50%
          transform: translateX(-50%)
          width: auto
          background-color: $cPrinc
          border-radius: 8px
          a
            padding: 0
            line-height: 75px
            width: 320px
            font-size: 20px
            text-transform: uppercase
          &:hover
            transition: .5s
            padding-right: 20px
            display: flex
            font-weight: bold
            .elementor-button-content-wrapper
            &:after
              content: ''
              display: inline-block
              transform: translateX(-7px)
              width: 50px
              height: 75px
              @include BgCenterContain
              background-image: url("../icons/arrow-right.svg")


//@media (max-width: 1650px)
  .section-header .elementor-container .col-header .elementor-widget-wrap .section-inner-content
    max-width: unset
    width: 75%


//@media (max-width: 1310px)
  .section-header
    height: unset
    min-height: unset
    max-height: 700px


//@media (max-width: 910px)
  .section-header
    .elementor-container
      .col-header
        .elementor-widget-wrap
          .section-inner-content
            .title-header
              font-size: 28px
            .txt-header
              font-size: 17px
          .btn-rdv-header
            bottom: 100px
            a
              line-height: 60px



//@media (max-width: 768px)
  .section-header
    overflow: unset
    .elementor-container
      .col-header
        .elementor-widget-wrap
          .img-header
            height: auto
            margin-bottom: 0px
            height: 350px
          .section-inner-content
            position: relative
            transform: unset
            border-radius: 0px
            left: unset
            bottom: unset
            top: unset
            width: 100%
            text-align: center
            background-color: $cPrinc
            margin-bottom: 0px
          .btn-rdv-header
            bottom: -60px
            margin-bottom: 0px
            transform: unset
            background-color: $cSecond
            z-index: 99
            right: 0
            left: 0
            border-radius: 0px
            text-align: center
            &:hover
              transition: unset
              padding-right: unset
              display: unset
              font-weight: unset
              &:after
                content: ''
                display: none

