@import "../../../../aquaplaisir/assets/sass/utils/mixins"
@import "../../../../aquaplaisir/assets/sass/utils/variables"

.section-header
  @include BgCenterCover
  background-position: bottom
  height: 80vh

.section-header
  @include BgCenterCover
  background-position: bottom
  .elementor-container
    max-width: 100%!important
    .col-header
      .elementor-widget-wrap
        padding: 0px
        position: relative
        .img-header
          .elementor-widget-container
            background-image: url("../img/form-home.svg")
            background-repeat: no-repeat
            background-size: contain
            background-position: bottom
            width: 100%
            img
              width: 100%
              object-fit: cover
              max-height: 80vh
              position: relative
              z-index: -1
        .section-inner-content
          position: absolute
          background-color: $cThird80
          width: 50%
          max-width: 1200px
          padding: 30px
          border-radius: 52px
          @include AbsoluteCenter
          .title-header
            font-weight: bold
            color: $cWhite
            font-size: 35px
          .txt-header
            font-size: 20px
            font-weight: 400
            color: $cWhite
        .btn-rdv-header
          position: absolute
          bottom: 20%
          left: 50%
          transform: translateX(-50%)
          width: auto
          background-color: $cPrinc
          border-radius: 8px
          a
            padding: 0
            line-height: 75px
            width: 320px
            font-size: 20px
            text-transform: uppercase
          &:hover
            transition: .5s
            padding-right: 20px
            display: flex
            font-weight: bold
            .elementor-button-content-wrapper
            &:after
              content: ''
              display: inline-block
              transform: translateX(-7px)
              width: 50px
              height: 75px
              @include BgCenterContain
              background-image: url("../icons/arrow-right.svg")









