@import "../../../../aquaplaisir/assets/sass/utils/mixins"
@import "../../../../aquaplaisir/assets/sass/utils/variables"

.section-img-map
  padding: 80px 0
  .elementor-container
    @include WidthContainer
    .col-img-map
      .elementor-widget-wrap
        padding: 0px
        .img-map
          overflow: hidden
          img
    .col-content-map
      .elementor-widget-wrap
        align-content: center
        .title-content-map
          margin-bottom: 30px!important
        .txt-content-map
          margin-bottom: 30px
        .info-corporate
          color: $cPrinc
          font-weight: 600
          margin-bottom: 30px
          ul
            li:first-of-type
              margin-bottom: 10px
            svg
              width: 40px
              height: 35px



.section-map
  .elementor-container
    max-width: unset!important
    .elementor-widget-wrap
      padding: 0px!important
      #maCarte
        height: 600px
        width: 100vw
        margin: 0 auto 0px auto
        .leaflet-tile-pane
          -webkit-filter: grayscale(100%)
          filter: grayscale(100%)


@media (max-width: 863px)
  .section-img-map
    padding: 30px 0px 0px 0px