@import "../../../../aquaplaisir/assets/sass/utils/mixins"
@import "../../../../aquaplaisir/assets/sass/utils/variables"

.section-img-map
  padding: 80px 0
  .elementor-container
    @include WidthContainer
    .col-img-map
      .elementor-widget-wrap
        padding: 0px
        .img-map
          overflow: hidden
          img
    .col-content-map
      .elementor-widget-wrap
        align-content: center
        .title-content-map
        .txt-content-map



.section-map
  .elementor-container
    max-width: unset!important
    .elementor-widget-wrap
      padding: 0px!important
      #maCarte
        height: 600px
        width: 100vw
        margin: 0 auto 0px auto
        .leaflet-tile-pane
          -webkit-filter: grayscale(100%)
          filter: grayscale(100%)

