@import "../../../../aquaplaisir/assets/sass/utils/mixins"
@import "../../../../aquaplaisir/assets/sass/utils/variables"


.section-h
  box-shadow: 0px 0px 15px $Shadow2
  z-index: 99
  .elementor-container
    max-width: 100vw!important
    .col-content-h
      position: unset
      width: 30%
      background-color: $cPrinc
      padding: 0 30px
      .elementor-widget-wrap
        padding: 0px
        position: unset
        justify-content: center
        align-content: center
        .img-bg-content-h
          display: none
          position: absolute
          bottom: 0
          top: 0
          margin: 0
          width: 83%
          .elementor-widget-container
            height: 100%
            img
              height: 100%
              width: 100%
              object-fit: cover
              object-position: right
              position: relative

        .title-h
          font-size: 25px
          color: $cWhite
          text-align: center
          font-weight: 600
          margin-bottom: 50px
        .btn-apt

    .col-img-h
      width: 70%
      .elementor-widget-wrap
        padding: 0
        img
          width: 150%
          height: 600px
          object-fit: cover
          object-position: 50% 78%


.section-btn-category
  padding: 30px 0 100px 0
  .elementor-container
    .col-btn-category
      .elementor-widget-wrap
        padding: 0px 3px


.elementor-element-e25f5e9
  .elementor-widget-wrap
    align-content: center




.section-p-b
  background-color: $cGray2
  .elementor-container
    @include WidthContainer
    .col-p-b
      .elementor-widget-wrap
        justify-content: center
        padding: 0px
        .txt-p-b
          text-align: center
          max-width: 800px
          color: $cGrayP
          margin-bottom: 50px
          span
            color: $cPrinc

.section-blue
  background-color: $cPrinc

.section-txt-blue
  text-align: center
  .col-txt-blue
    .txt-blue
      font-size: 25px
      font-weight: 500
      color: $cSecond


.section-step-swiper
  padding: 0px 100px 50px 100px
  .elementor-container
  .col-step-swiper
    .the-swiper-step
      overflow: hidden
      position: unset
      .swiper-wrapper
        text-align: center
        height: 600px
        .swiper-slide
          img
            height: 100%
            width: 100%
            object-fit: cover
      .swiper-button-prev, .swiper-button-next
        @include ArrowSwiper
        transform: translateY(-25%)
        &:after
          content: ''
      h3
        position: absolute
        left: 50%
        transform: translateX(-50%)
        font-size: 35px
        background-color: $cSecond
        padding: 10px
        width: 101%

      .swiper-button-prev
        left: -100px
        background-image: url("../icons/previous.svg")
      .swiper-button-next
        right: -100px
        background-image: url("../icons/next.svg")






.section-keyw
  color: $cWhite
  padding-top: 100px
  padding-bottom: 50px
  .elementor-container
    max-height: 380px
    @include Gradien
    max-width: 100%!important
    .col-keyw
      .elementor-widget-wrap
        justify-content: center
        text-align: center
        transform: translateY(-26%)
        .img-keyw
          background-color: $cWhite
          border-radius: 50%
          height: 200px
          width: 200px
          margin-bottom: 60px
          @include FlexCenter
          box-shadow: 0 3px 6px $Shadow
        .txt-keyw
          font-size: 28px
        .inner-section-keyw
          @include WidthContainer
          margin-top: 25px
          .elementor-container
            background: none
            justify-content: center
            .inner-col-keyw
              width: 15%
              .elementor-widget-wrap
                transform: translateY(0)
                .inner-txt
                  font-weight: 600
                  font-size: 24px


.inner-section-i-a
  margin-bottom: 20px
  .inner-col-i-a
    border: solid 2px $cSecond
    text-align: center
    font-weight: 600
    .key-i-a
      color: $cSecond
    &:nth-of-type(2)
      margin: 0 15px



.section-title-a-sw
  padding-bottom: 50px


.section-a-sw, .section-md
  text-align: center
  .elementor-container
    @include WidthContainer
    .col-a-sw, .col-a-sw-md
      background-color: $cWhite
      padding: 30px 50px
      .icon-a-sw
        margin-bottom: 30px
      .title-a-sw
        color: $cSecond
        font-weight: 600
        font-size: 20px
      .txt-a-sw
        color: $cGrayP
    .col-md-l
      margin-right: 25px
    .col-md-r
      margin-left: 25px
.section-md
  margin: 50px 0
.section-a-sw-double
  padding-bottom: 50px

@media (max-width: 1500px)
  .section-p-b
    .elementor-container
      .col-p-b
        .elementor-widget-wrap
          padding: 0 30px
  .section-a-sw
    margin: 0 20px
  .section-md
    margin: 50px 20px

@media (max-width: 1430px)
  .section-h
    .elementor-container
      .col-content-h
        //padding: 0px


@media (max-width: 1280px)
  .section-h
    .elementor-container
      .col-content-h
        .elementor-widget-wrap
          .title-h
            font-size: 20px

@media (max-width: 1200px)
  .section-h
    .elementor-container
      .col-content-h
        width: 40%
      .col-img-h
        width: 60%
  .section-btn-category
    padding: 0px 25px 70px 25px
    .elementor-container
      width: 100%
      //padding: 0 25px
  .section-step
    padding: 40px 0
  .section-entretien-p
    padding: 100px 0
    .title-i-a-content
      text-align: center
    .txt-i-content
      text-align: center
      margin-bottom: 0px
    .inner-section-i-a
      width: 60%
      max-width: 450px
      min-width: 250px
      margin: 20px auto
  .inner-section-i-a
    .elementor-container
      flex-direction: column
      .inner-col-i-a
        width: 100%
      .inner-col-i-a:nth-of-type(2)
        margin: 15px 0

@media (max-width: 1134px)
  .section-keyw
    .elementor-container
      .col-keyw
        .elementor-widget-wrap
          .txt-keyw
            font-size: 24px
          .inner-section-keyw
            .elementor-container
              .inner-col-keyw
                width: 20%
                .elementor-widget-wrap
                  .inner-txt
                    font-size: 20px


@media (max-width: 1050px)
  .section-h
    .elementor-container
      flex-direction: column-reverse
      .col-img-h, .col-content-h
        width: 100%
      .col-content-h
        .title-h
          margin: 30px 0!important
        .btn-h-apt
          margin-bottom: 30px
      .col-img-h
        .elementor-widget-wrap
          img
            height: 450px
  .section-entretien-p
    padding: 50px 0
    .elementor-container
      flex-direction: column
      align-items: center
      .col-i-img, .col-i-content
        width: 90%
        margin: 0
      .col-i-content
        padding-top: 50px

@media (max-width: 1025px)
  .section-md
    margin: 20px 20px
    .elementor-container
      .col-md-l
        margin-right: 0px
        margin-bottom: 20px
      .col-md-r
        margin-left: 0px
      .col-a-sw-md
        width: 100%





@media (max-width: 1000px)
  .section-step
    .elementor-container
      flex-direction: column-reverse
      align-content: center
      padding: 0px

  .section-i
    .col-i-content
      .title-i-a-content
        text-align: center

@media (max-width: 920px)
  .section-btn-category
    padding-bottom: 20px
    padding-top: 0px
    .elementor-container
      flex-direction: column
      width: 60%
      padding: 0px
      .col-btn-category
        width: 100%
        margin: 10px 0

@media (max-width: 650px)
  .section-btn-category
    .elementor-container
      width: 90%


@media (max-width: 768px)
  .section-step-swiper
    padding: 20px
    .col-step-swiper
      .the-swiper-step
        .swiper-button-next, .swiper-button-prev
          transform: translateY(230%)
        .swiper-button-prev
          left: 0px
        .swiper-button-next
          right: 0px

@media (max-width: 700px)
  .section-keyw .elementor-container .col-keyw .elementor-widget-wrap .inner-section-keyw .elementor-container .inner-col-keyw
    width: 25%

@media (max-width: 620px)
  .section-keyw
    .elementor-container
      max-height: 470px
      .col-keyw
        .elementor-widget-wrap
          transform: translateY(-20%)
          .inner-section-keyw
            .elementor-container
              flex-direction: column
              align-content: center
              .inner-col-keyw
                width: 100%

@media (max-width: 600px)
  .section-a-sw, .section-md
    .elementor-container
      .col-a-sw, .col-a-sw-md
        padding: 30px 10px

  .section-step-swiper .col-step-swiper .the-swiper-step h3
    font-size: 25px

@media (max-width: 524px)
  .section-keyw .elementor-container
    max-height: 480px
  .section-step .elementor-container .col-step .elementor-widget-wrap .elementor-inner-section .elementor-container .elementor-inner-column .the-step
    font-size: 21px

@media (max-width: 355px)
  .section-keyw
    .elementor-container
      max-height: 500px
      .col-keyw
        .elementor-widget-wrap
          .txt-keyw
            font-size: 21px