.section-g-spa
  @include GradienReverse
  height: 350px
  margin-bottom: 450px
  .elementor-container
    max-width: 1650px!important
    .col-g-spa
      .elementor-widget-wrap
        padding: 0px
        .title-g-spa
          color: $cWhite
          font-size: 30px
          font-weight: 600
          margin: 60px 0 60px 20px
        .inner-section-g-s
          position: absolute
          top: 100%
          .inner-col-g-s
            background-color: $cWhite
            margin: 0 20px
            box-shadow: 0 3px 6px $Shadow
            padding: 20px 0
            .img-m-s
            .title-m-s
              color: $cPrinc
              font-weight: 600
              font-size: 20px
              text-align: center
              padding: 0 30px
            .list-m-s
              color: $cGrayP
              font-size: 19px
              line-height: 2rem
              padding-left: 30px
            .btn-m-s
              .elementor-button
                margin: auto
                display: block