.section-g-spa
  background: $cPrinc
  height: 350px
  margin-bottom: 420px
  .elementor-container
    max-width: 1650px!important
    padding-top: 70px
    .col-g-spa
      .elementor-widget-wrap
        padding: 0px
        .inner-section-g-s
          position: absolute
          top: 100%
          margin-top: 70px
          .elementor-container
            justify-content: center
            padding-top: 0px
            .inner-col-g-s
              background-color: $cWhite
              margin: 0 20px
              box-shadow: 0 3px 6px $Shadow
              //padding: 20px 0
              width: 420px
              min-height: 500px
              .elementor-widget-wrap
                justify-content: space-between
                flex-direction: column
                padding: 10px
                .img-m-s
                  height: 170px
                  .elementor-widget-container
                    height: 100%
                    padding: 5px
                    img
                      height: 100%
                      object-fit: contain
                .title-m-s
                  color: $cPrinc
                  font-weight: 600
                  font-size: 20px
                  text-align: center
                  text-transform: uppercase
                .list-m-s
                  color: $cGrayP
                  font-size: 16px
                  line-height: 2rem
                .btn-m-s
                  .elementor-button
                    margin: auto
                    display: block
                    width: 100%

@media (max-width: 1024px)
  .elementor-element-9ef1660
    padding-top: 50px
  .section-g-spa
    height: auto
    margin-bottom: 0px
    padding-bottom: 0px
    .elementor-container
      padding-top: 0px
      .col-g-spa
        .elementor-widget-wrap
          .title-g-spa
            margin-bottom: 50px!important
            text-align: center
          .inner-section-g-s
            margin-top: 0px
            position: unset
            .elementor-container
              flex-direction: column
              align-content: center
              .inner-col-g-s
                height: unset
                width: 500px
                margin-bottom: 50px
                min-height: unset
                .elementor-widget-wrap
                  .img-m-s
                    height: unset

@media (max-width: 566px)
  .section-g-spa
    .elementor-container
      .col-g-spa
        .elementor-widget-wrap
          .inner-section-g-s
            .elementor-container
              .inner-col-g-s
                width: 90%


